In [74]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [118]:
X = df.drop(["Survived", "Fare", "PassengerId", "Name", "SibSp", "Parch", "Ticket", "Cabin", "Embarked"], axis="columns")
y = df.Survived

In [119]:
X.head()

   Pclass     Sex   Age
0       3    male  22.0
1       1  female  38.0
2       3  female  26.0
3       1  female  35.0
4       3    male  35.0

In [120]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [121]:
from sklearn.preprocessing import LabelEncoder

le_Sex = LabelEncoder()
X["Sex_n"] = le_Sex.fit_transform(X["Sex"])
X.head()

   Pclass     Sex   Age  Sex_n
0       3    male  22.0      1
1       1  female  38.0      0
2       3  female  26.0      0
3       1  female  35.0      0
4       3    male  35.0      1

In [122]:
X_n = X.drop(["Sex"], axis="columns")
X_n.head()

   Pclass   Age  Sex_n
0       3  22.0      1
1       1  38.0      0
2       3  26.0      0
3       1  35.0      0
4       3  35.0      1

In [123]:
X_n.columns[X_n.isna().any()]

Index(['Age'], dtype='object')

In [124]:
import math

median_age = math.floor(X_n.Age.median())
median_age

28

In [125]:
X_n.Age = X_n.Age.fillna(median_age)

In [126]:
X_n.columns[X_n.isna().any()]

Index([], dtype='object')

In [127]:
from sklearn.model_selection import train_test_split

X_n_train, X_n_test, y_train, y_test = train_test_split(X_n, y, test_size=0.3)

In [128]:
X_n_train.shape

(623, 3)

In [129]:
X_n_test.shape

(268, 3)

In [130]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(criterion="entropy")
model.fit(X_n_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [131]:
model.score(X_n_test, y_test)

0.8395522388059702